flows.json
[
    {
        "id": "a4f279f2.6adc68",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e4e892fa.6610b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "73c869eb.69bc58",
        "type": "tab",
        "label": "Clima Agora",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b422e8b2.334a98",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "1341ba6a.3a0126",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d35bfc0d.7f6a2",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "26568198.c819fe",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7b19891c.ae0288",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ace4b43b.974198",
        "type": "mqtt-broker",
        "z": "",
        "broker": "192.168.1.112",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b4285d0b.92e2",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "acefe026.18bcc",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#2e7c7a",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#2e7c7a",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2e7c7a",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#43b4b1",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2e7c7a",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "84e3b176.b08a1",
        "type": "ui_tab",
        "z": "",
        "name": "Placar do Jogo de Badminton",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8aaccbc4.700648",
        "type": "ui_group",
        "z": "",
        "name": "Placar",
        "tab": "84e3b176.b08a1",
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "eae2fda7.1ae63",
        "type": "ui_tab",
        "z": "",
        "name": "Placar Teste",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "deb3759a.650bf8",
        "type": "ui_group",
        "z": "",
        "name": "Placar automatico",
        "tab": "eae2fda7.1ae63",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d472af7f.55deb",
        "type": "ui_text",
        "z": "a4f279f2.6adc68",
        "group": "8aaccbc4.700648",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 754,
        "y": 312,
        "wires": []
    },
    {
        "id": "18f51008.0bfcf",
        "type": "inject",
        "z": "a4f279f2.6adc68",
        "name": "",
        "topic": "Henrique",
        "payload": "{\"j1\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 138,
        "y": 357,
        "wires": [
            [
                "7a994fa0.c30d9"
            ]
        ]
    },
    {
        "id": "3037e5fa.30419a",
        "type": "ui_text",
        "z": "a4f279f2.6adc68",
        "group": "8aaccbc4.700648",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 759,
        "y": 402,
        "wires": []
    },
    {
        "id": "38da3c20.f8e124",
        "type": "inject",
        "z": "a4f279f2.6adc68",
        "name": "",
        "topic": "Paulo",
        "payload": "{\"j2\":12}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 129,
        "y": 445,
        "wires": [
            [
                "232ade5e.c73862"
            ]
        ]
    },
    {
        "id": "90c21330.cedb1",
        "type": "ui_text",
        "z": "a4f279f2.6adc68",
        "group": "8aaccbc4.700648",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "set",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 721,
        "y": 256,
        "wires": []
    },
    {
        "id": "9a24e464.df19c8",
        "type": "inject",
        "z": "a4f279f2.6adc68",
        "name": "",
        "topic": "Henrique/Paulo",
        "payload": "{\"j1\":1,\"j2\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 168,
        "y": 263,
        "wires": [
            [
                "6cc442c.7a0a6bc"
            ]
        ]
    },
    {
        "id": "33d28105.b49bee",
        "type": "ui_date_picker",
        "z": "a4f279f2.6adc68",
        "name": "",
        "label": "Data da Partida",
        "group": "8aaccbc4.700648",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 442,
        "y": 49,
        "wires": [
            []
        ]
    },
    {
        "id": "3901e9c8.ef6886",
        "type": "ui_text",
        "z": "a4f279f2.6adc68",
        "group": "8aaccbc4.700648",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "data",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 721,
        "y": 554,
        "wires": []
    },
    {
        "id": "41e4b92d.022bd8",
        "type": "file",
        "z": "a4f279f2.6adc68",
        "name": "",
        "filename": "henri.jpg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 339,
        "y": 659,
        "wires": [
            [
                "f0abb797.bebef8"
            ]
        ]
    },
    {
        "id": "c767e77f.3db008",
        "type": "inject",
        "z": "a4f279f2.6adc68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 109,
        "y": 661,
        "wires": [
            [
                "41e4b92d.022bd8"
            ]
        ]
    },
    {
        "id": "2dea8ffe.57dc4",
        "type": "inject",
        "z": "a4f279f2.6adc68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 103,
        "y": 51,
        "wires": [
            [
                "33d28105.b49bee"
            ]
        ]
    },
    {
        "id": "dc01bb2e.01d3a8",
        "type": "inject",
        "z": "a4f279f2.6adc68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 128,
        "y": 558,
        "wires": [
            [
                "637ccdd3.7675f4"
            ]
        ]
    },
    {
        "id": "637ccdd3.7675f4",
        "type": "change",
        "z": "a4f279f2.6adc68",
        "name": "today",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$substring($substringBefore($now(), \"T\"), 8, 2) &\t$substring($substringBefore($now(), \"T\"), 4, 4) &\t$substring($substringBefore($now(), \"T\"), 0, 4)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 296,
        "y": 559,
        "wires": [
            [
                "52c9269d.aea1a8"
            ]
        ]
    },
    {
        "id": "f0abb797.bebef8",
        "type": "debug",
        "z": "a4f279f2.6adc68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 658,
        "wires": []
    },
    {
        "id": "2571e0cb.6adbe",
        "type": "ui_gauge",
        "z": "a4f279f2.6adc68",
        "name": "",
        "group": "8aaccbc4.700648",
        "order": 7,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "21",
        "colors": [
            "#ff8080",
            "#e6e600",
            "#80ff80"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 753,
        "y": 349,
        "wires": []
    },
    {
        "id": "35b700bf.962a1",
        "type": "ui_gauge",
        "z": "a4f279f2.6adc68",
        "name": "",
        "group": "8aaccbc4.700648",
        "order": 8,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "21",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#80ff80"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 722,
        "y": 451,
        "wires": []
    },
    {
        "id": "232ade5e.c73862",
        "type": "function",
        "z": "a4f279f2.6adc68",
        "name": "formata valor j2",
        "func": "msg.payload = msg.payload.j2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 443,
        "y": 449,
        "wires": [
            [
                "35b700bf.962a1",
                "3037e5fa.30419a",
                "f15576db.6e42d8"
            ]
        ]
    },
    {
        "id": "7a994fa0.c30d9",
        "type": "function",
        "z": "a4f279f2.6adc68",
        "name": "formata valor j1",
        "func": "msg.payload = msg.payload.j1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 438,
        "y": 358,
        "wires": [
            [
                "d472af7f.55deb",
                "2571e0cb.6adbe"
            ]
        ]
    },
    {
        "id": "6cc442c.7a0a6bc",
        "type": "function",
        "z": "a4f279f2.6adc68",
        "name": "formata valor do set",
        "func": "msg.payload = msg.topic+msg.payload.j1+\" X \"+msg.payload.j2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 454,
        "y": 264,
        "wires": [
            [
                "90c21330.cedb1"
            ]
        ]
    },
    {
        "id": "52c9269d.aea1a8",
        "type": "change",
        "z": "a4f279f2.6adc68",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "-",
                "fromt": "str",
                "to": "/",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 487,
        "y": 560,
        "wires": [
            [
                "3901e9c8.ef6886"
            ]
        ]
    },
    {
        "id": "a0aa6d3c.81415",
        "type": "inject",
        "z": "e4e892fa.6610b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 251,
        "y": 76,
        "wires": [
            [
                "32c744af.ea8d1c"
            ]
        ]
    },
    {
        "id": "32c744af.ea8d1c",
        "type": "ui_date_picker",
        "z": "e4e892fa.6610b",
        "name": "",
        "label": "Data da Partida",
        "group": "deb3759a.650bf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "x": 572,
        "y": 76,
        "wires": [
            []
        ]
    },
    {
        "id": "f4624ce5.50548",
        "type": "ui_text",
        "z": "e4e892fa.6610b",
        "group": "deb3759a.650bf8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 663,
        "y": 239,
        "wires": []
    },
    {
        "id": "dfdab1ea.3324e",
        "type": "ui_text",
        "z": "e4e892fa.6610b",
        "group": "deb3759a.650bf8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "{{msg.topic}}",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 665,
        "y": 406,
        "wires": []
    },
    {
        "id": "8c7aa34f.f81cb",
        "type": "ui_text",
        "z": "e4e892fa.6610b",
        "group": "deb3759a.650bf8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "set",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 732,
        "y": 170,
        "wires": []
    },
    {
        "id": "2f27cef9.e0c382",
        "type": "ui_text",
        "z": "e4e892fa.6610b",
        "group": "deb3759a.650bf8",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "data",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 672,
        "y": 536,
        "wires": []
    },
    {
        "id": "3cd63f3f.d9301",
        "type": "ui_gauge",
        "z": "e4e892fa.6610b",
        "name": "",
        "group": "deb3759a.650bf8",
        "order": 4,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "21",
        "colors": [
            "#ff8080",
            "#e6e600",
            "#80ff80"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 663,
        "y": 299,
        "wires": []
    },
    {
        "id": "834fc521.f92a58",
        "type": "ui_gauge",
        "z": "e4e892fa.6610b",
        "name": "",
        "group": "deb3759a.650bf8",
        "order": 6,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "21",
        "colors": [
            "#ff0000",
            "#e6e600",
            "#80ff80"
        ],
        "seg1": "10",
        "seg2": "20",
        "x": 669,
        "y": 455,
        "wires": []
    },
    {
        "id": "1b830f9d.a29dd",
        "type": "inject",
        "z": "e4e892fa.6610b",
        "name": "",
        "topic": "",
        "payload": "{\"j1\":1,\"j2\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 132,
        "y": 174,
        "wires": [
            [
                "bd0bdd1c.38c1f"
            ]
        ]
    },
    {
        "id": "bd0bdd1c.38c1f",
        "type": "function",
        "z": "e4e892fa.6610b",
        "name": "formata valor do set",
        "func": "msg.payload = msg.topic+msg.payload.j1+\" X \"+msg.payload.j2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 466,
        "y": 173,
        "wires": [
            [
                "8c7aa34f.f81cb"
            ]
        ]
    },
    {
        "id": "7cd38848.de2fd8",
        "type": "random",
        "z": "e4e892fa.6610b",
        "name": "",
        "low": "0",
        "high": "21",
        "inte": "true",
        "property": "payload",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "3cd63f3f.d9301"
            ]
        ]
    },
    {
        "id": "76ba9375.2ca76c",
        "type": "debug",
        "z": "e4e892fa.6610b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 403,
        "y": 562,
        "wires": []
    },
    {
        "id": "d79f87ce.30ef18",
        "type": "inject",
        "z": "e4e892fa.6610b",
        "name": "",
        "topic": "Henrique",
        "payload": "{\"j1\":11}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 131,
        "y": 255,
        "wires": [
            [
                "7cd38848.de2fd8"
            ]
        ]
    },
    {
        "id": "27153daa.665752",
        "type": "function",
        "z": "e4e892fa.6610b",
        "name": "formata valor j1",
        "func": "msg.payload = msg.payload.j1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 419,
        "y": 351,
        "wires": [
            []
        ]
    },
    {
        "id": "fe0c402f.d57b",
        "type": "inject",
        "z": "73c869eb.69bc58",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 23,
        "wires": [
            [
                "49a3f95d.a36658"
            ]
        ]
    },
    {
        "id": "49a3f95d.a36658",
        "type": "http request",
        "z": "73c869eb.69bc58",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://api.openweathermap.org/data/2.5/weather?id=3448439&units=metric&APPID=24c6408339a7e7462e1bfbba294f4de8",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 239,
        "y": 79,
        "wires": [
            [
                "e597926e.51e68"
            ]
        ]
    },
    {
        "id": "3756efe3.9d305",
        "type": "debug",
        "z": "73c869eb.69bc58",
        "name": "Temperatura",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 742,
        "y": 50,
        "wires": []
    },
    {
        "id": "e597926e.51e68",
        "type": "json",
        "z": "73c869eb.69bc58",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 383.5,
        "y": 126,
        "wires": [
            [
                "358967fe.569918",
                "8547aa2f.26d318",
                "352a05e6.5a334a",
                "1f3927e7.25dde8",
                "4d19fb9a.a84a04"
            ]
        ]
    },
    {
        "id": "358967fe.569918",
        "type": "change",
        "z": "73c869eb.69bc58",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 551,
        "y": 38,
        "wires": [
            [
                "3756efe3.9d305"
            ]
        ]
    },
    {
        "id": "5814e576.29e67c",
        "type": "debug",
        "z": "73c869eb.69bc58",
        "name": "Mínima",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 744,
        "y": 132,
        "wires": []
    },
    {
        "id": "8547aa2f.26d318",
        "type": "change",
        "z": "73c869eb.69bc58",
        "name": "Temperatura Min",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 559,
        "y": 131,
        "wires": [
            [
                "5814e576.29e67c"
            ]
        ]
    },
    {
        "id": "352a05e6.5a334a",
        "type": "change",
        "z": "73c869eb.69bc58",
        "name": "Temperatura Min",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 563,
        "y": 210,
        "wires": [
            [
                "5fc64391.b9bffc"
            ]
        ]
    },
    {
        "id": "5fc64391.b9bffc",
        "type": "debug",
        "z": "73c869eb.69bc58",
        "name": "Máxima",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 748,
        "y": 199,
        "wires": []
    },
    {
        "id": "cf48d6b8.25e1e8",
        "type": "inject",
        "z": "a4f279f2.6adc68",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 113,
        "y": 154,
        "wires": [
            [
                "f4c9e409.dc33a8"
            ]
        ]
    },
    {
        "id": "f4c9e409.dc33a8",
        "type": "http request",
        "z": "a4f279f2.6adc68",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "http://api.openweathermap.org/data/2.5/weather?id=3448439&units=metric&APPID=24c6408339a7e7462e1bfbba294f4de8",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 278,
        "y": 156,
        "wires": [
            [
                "7de4688d.4cab28"
            ]
        ]
    },
    {
        "id": "7de4688d.4cab28",
        "type": "json",
        "z": "a4f279f2.6adc68",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 444.5,
        "y": 155,
        "wires": [
            [
                "1436bf3b.22b7a1",
                "be8f1c.6f4ca0e8"
            ]
        ]
    },
    {
        "id": "1436bf3b.22b7a1",
        "type": "change",
        "z": "a4f279f2.6adc68",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 185,
        "wires": [
            [
                "b311835d.37d0b"
            ]
        ]
    },
    {
        "id": "b311835d.37d0b",
        "type": "ui_text",
        "z": "a4f279f2.6adc68",
        "group": "8aaccbc4.700648",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Temp",
        "label": "Temperatura",
        "format": "{{msg.payload}}ºC",
        "layout": "row-spread",
        "x": 774,
        "y": 185,
        "wires": []
    },
    {
        "id": "914eeceb.1bc68",
        "type": "comment",
        "z": "a4f279f2.6adc68",
        "name": "Data no Placar",
        "info": "",
        "x": 92,
        "y": 18,
        "wires": []
    },
    {
        "id": "7c8171c9.66dd6",
        "type": "comment",
        "z": "a4f279f2.6adc68",
        "name": "Cidade e Temperatura",
        "info": "",
        "x": 114,
        "y": 106,
        "wires": []
    },
    {
        "id": "be8f1c.6f4ca0e8",
        "type": "change",
        "z": "a4f279f2.6adc68",
        "name": "Cidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 599,
        "y": 113,
        "wires": [
            [
                "e8e65c8a.4d328"
            ]
        ]
    },
    {
        "id": "e8e65c8a.4d328",
        "type": "ui_text",
        "z": "a4f279f2.6adc68",
        "group": "8aaccbc4.700648",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Cidade",
        "label": "Cidade",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 110,
        "wires": []
    },
    {
        "id": "c2f81878.8e59e8",
        "type": "comment",
        "z": "a4f279f2.6adc68",
        "name": "Placar em Sets",
        "info": "",
        "x": 97,
        "y": 223,
        "wires": []
    },
    {
        "id": "564bf59e.1c442c",
        "type": "comment",
        "z": "a4f279f2.6adc68",
        "name": "Pontuação do Jogador 1",
        "info": "",
        "x": 130,
        "y": 316,
        "wires": []
    },
    {
        "id": "87298245.f6c08",
        "type": "comment",
        "z": "a4f279f2.6adc68",
        "name": "Pontuação do Jogador 2",
        "info": "",
        "x": 130,
        "y": 397,
        "wires": []
    },
    {
        "id": "8c51d6b5.aead78",
        "type": "comment",
        "z": "a4f279f2.6adc68",
        "name": "Data formatada",
        "info": "",
        "x": 92,
        "y": 511,
        "wires": []
    },
    {
        "id": "a9006df8.32cc1",
        "type": "comment",
        "z": "a4f279f2.6adc68",
        "name": "Tentativa de Subir uma Imagem",
        "info": "",
        "x": 157,
        "y": 612,
        "wires": []
    },
    {
        "id": "1f3927e7.25dde8",
        "type": "function",
        "z": "73c869eb.69bc58",
        "name": "Temperaturas",
        "func": "msg.payload = {\"Temperatura\": msg.payload.main.temp,\n              \"Temperatura Mínima\": msg.payload.main.temp_min,\n              \"Temperatura Máxima\": msg.payload.main.temp_max}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 537,
        "y": 308,
        "wires": [
            [
                "bc745545.36e4e8"
            ]
        ]
    },
    {
        "id": "746a6b62.c6a6a4",
        "type": "comment",
        "z": "73c869eb.69bc58",
        "name": "Otimizando a quantidade de nós",
        "info": "",
        "x": 587,
        "y": 255,
        "wires": []
    },
    {
        "id": "bc745545.36e4e8",
        "type": "debug",
        "z": "73c869eb.69bc58",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 740,
        "y": 307,
        "wires": []
    },
    {
        "id": "4d19fb9a.a84a04",
        "type": "debug",
        "z": "73c869eb.69bc58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 541,
        "y": 368,
        "wires": []
    },
    {
        "id": "f15576db.6e42d8",
        "type": "ui_chart",
        "z": "a4f279f2.6adc68",
        "name": "",
        "group": "8aaccbc4.700648",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 709,
        "y": 500,
        "wires": [
            []
        ]
    }
]